 body{
    border: 10px double #9fe6f4;
    background: linear-gradient(0deg, #bfbfbf 0%, #ffffff 100%);
 }
 #container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 8px 6px 29px 4px #000000;
    color: black;
    
}
